<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nuo.manageService.mapper.TbRepairMapper">

    <resultMap id="BaseResultMap" type="com.nuo.manageService.entity.TbRepair">
            <id property="id" column="id" jdbcType="CHAR"/>
            <result property="studentId" column="student_id" jdbcType="CHAR"/>
            <result property="studentName" column="student_name" jdbcType="VARCHAR"/>
            <result property="phone" column="phone" jdbcType="BIGINT"/>
            <result property="dormitoryNo" column="dormitory_no" jdbcType="VARCHAR"/>
            <result property="buildingNo" column="building_no" jdbcType="VARCHAR"/>
            <result property="situation" column="situation" jdbcType="VARCHAR"/>
            <result property="situationImg" column="situation_img" jdbcType="VARCHAR"/>
            <result property="firstProject" column="first_project" jdbcType="VARCHAR"/>
            <result property="secondtProject" column="secondt_project" jdbcType="VARCHAR"/>
            <result property="state" column="state" jdbcType="CHAR"/>
            <result property="gmtCreate" column="gmt_create" jdbcType="TIMESTAMP"/>
            <result property="gmtModified" column="gmt_modified" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,student_id,student_name,
        phone,dormitory_no,building_no,
        situation,situation_img,first_project,
        secondt_project,state,gmt_create,
        gmt_modified
    </sql>

    <update id="handleRepair">
        update tb_repair set worker_id=#{reqHandle.workerId},state='1' where id=#{reqHandle.repairId}
    </update>
    <update id="saveRepairInfo">
        <foreach collection="distributionRepairs" item="distributionRepair" >
            <foreach collection="distributionRepair.repairId" item="repairId" >
                update tb_repair set state = 1,worker_id = #{distributionRepair.workerId},handle_time=#{date}
                where id = #{repairId};
            </foreach>
        </foreach>
    </update>
    <select id="getDistributionRepairWork" resultType="com.nuo.manageService.entity.custom.DistributionRepair">
        SELECT worker_id,COUNT(*) AS repairCount FROM tb_repair WHERE state = 1 GROUP BY worker_id
    </select>
    <select id="selectNoRepairCount" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM tb_repair WHERE state = 0
    </select>
    <select id="selectNoRepairIds" resultType="com.nuo.manageService.entity.custom.CustomIds">
        SELECT id FROM tb_repair WHERE state = 0
    </select>

</mapper>
